body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Rehefa miova ho Mode Sombre ny pejy */
.bg-dark input[readonly], 
.bg-dark input:disabled {
    background-color: #1a1d20 !important; /* Loko maizina hitovy amin'ny formulaire */
    color: #f8f9fa !important;            /* Loko fotsy ho an'ny soratra */
    border: 1px solid #495057 !important; /* Sisiny maizina kely */
}